<table class="table mt-4 text-center">
  <thead>
    <tr>
      <th>投稿日</th>
      <th>投稿者名</th>
      <th>部位</th>
      <th>トレーニング名</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="bulk-registration-form">
  <% post_records.each do |post_record| %>
    <tr>
      <td>
        <%= post_record.created_at.strftime('%Y/%m/%d') %>
      </td>
      <td>
      <%= link_to user_path(post_record.user_id) do %>
        <%= post_record.user.name %>
      <% end %>
      </td>
      <td>
        <%= post_record.category.name %>
      </td>
      <td>
      <%= link_to post_record_path(post_record.id) do %>
        <%= post_record.training_name %>
      <% end %>
      </td>
      <td id="favorite_<%= post_record.id %>">
        <%= render "public/favorites/favorite", post_record: post_record %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
