<table class="table mt-4 text-center">
  <thead>
    <tr class="row">
      <th class="col-4 col-lg-3">トレーニング日</th>
      <th class="col-2 col-lg-2">投稿者名</th>
      <th class="col-2 col-lg-2">部位</th>
      <th class="col-3 col-lg-3">トレーニング名</th>
      <th class="col-1 col-lg-1"></th>
    </tr>
  </thead>
  <tbody class="bulk-registration-form">
  <% post_records.each do |post_record| %>
    <tr class="row">
      <td class="col-4 col-lg-3">
        <%= post_record.start_time.strftime('%Y/%m/%d') %>
      </td>
      <td class="col-2 col-lg-2">
        <%= post_record.user.name %>
      </td>
      <td class="col-2 col-lg-2">
        <%= post_record.category.name %>
      </td>
      <td class="col-3 col-lg-3">
      <%= link_to post_record_path(post_record.id) do %>
        <%= post_record.training_name %>
      <% end %>
      </td>
      <td id="favorite_<%= post_record.id %>">
        <%= render "public/favorites/favorite", post_record: post_record %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
