<div class="row">
  <p class="col-4 col-lg-3 border-bottom"><b>トレーニング名:</b></p>
  <p class="col-4 col-lg-3 border-bottom"><%= @post_record.training_name %></p>
</div>
<div class="row">
  <p class="col-4 col-lg-3 border-bottom"><b>部位:</b></p>
  <p class="col-4 col-lg-3 border-bottom"><%= @post_record.category.name %></p>
</div>
<div class="row">
  <p class="col-4 col-lg-3 border-bottom"><b>セット数:</b></p>
  <p class="col-4 col-lg-3 border-bottom"><%= @post_record.set_count %>セット</p>
</div>
<div class="row">
  <p class="col-4 col-lg-3 border-bottom"><b>1セット:</b></p>
  <p class="col-4 col-lg-3 border-bottom"><%= @post_record.rep_count %>回/<%= @post_record.weight %>kg</p>
</div>