<div class="container">
  
  <h4 class="my-5">＜トレーニング記録/投稿＞</h4>
  <%= form_with model: @form, url: post_records_path, method: :post, local: true do |form| %>
  <%= form.fields_for :post_records do |f| %>

  <div class="card d-flex flex-row">
  <div class="card-body">
    <div>
      <%= f.check_box :availability, class: 'top10 registration-checkbox' %>
    </div>
    <div class="row my-1">
      <p>トレーニング日：</p>
      <p><%= f.date_field :start_time, value:Time.now.strftime("%Y-%m-%d"), class: 'form-control' %></p>
    </div>
    <div class="row my-1">
      <p>部位：</p>
      <p><%= f.collection_select(:category_id, Category.all, :id, :name) %></p>
    </div>
    <div class="row my-1">
      <p>トレーニング名：</p>
      <p><%= f.text_field :training_name, class: 'form-control' %></p>
    </div>
    <div class="row my-1">
      <p>セット数：</p>
      <p><%= f.text_field :set_count, class: 'form-control' %></p>
    </div>
    <div class="row my-1">
      <p>重量(kg)：</p>
      <p><%= f.text_field :weight, class: 'form-control' %></p>
    </div>
    <div class="row mt-1">
      <p>レップ数(回)：</p>
      <p><%= f.text_field :rep_count, class: 'form-control' %></p>
    </div>
  </div>
  </div>


    <% end %>
 
  <% end %>
</div>
