<div class="container">
  <h3 class="mt-2 py-3">管理者用ログイン</h3>
  <%= form_with(model: resource, scope: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="col mb-3">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, placeholder: "sample@sample.com" %>
  </div>
  <div class="col mb-3">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, placeholder: "000000" %>
  </div>
  <div class="col mt-3 ml-5">
    <%= f.submit "ログイン", class:"btn btn-primary" %>
  </div>
  <% end %>
</div>
