<h5 class="pb-4"><b>＜トレーニング数の比較＞</b></h5>
<table class="table table-bordered">
  <thead>
    <tr class="table-warning">
      <th>今週</th>
      <th>前週</th>
      <th>前週比</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-right">
      <td><%= @this_week_post_record.count %>種目 </td>
      <td><%= @last_week_post_record.count %>種目</td>
    <% if @last_week_post_record.count == 0 %>
      <td>0%</td>
    <% else %>
      <td>
        <% @the_week_before = @this_week_post_record.count / @last_week_post_record.count.to_f %>
        <%= (@the_week_before * 100).round %>%
      </td>
    <% end %>
    </tr>
  </tbody>
</table>
<table class="table table-bordered mt-5">
  <thead>
    <tr class="table-warning">
      <th>今月</th>
      <th>前月</th>
      <th>前月比</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-right">
      <td><%= @this_month_post_record.count %>種目</td>
      <td><%= @last_month_post_record.count %>種目</td>
    <% if @last_month_post_record.count == 0 %>
      <td>0%</td>
    <% else %>
      <td>
        <% @the_month_before = @this_month_post_record.count / @last_month_post_record.count.to_f %>
        <%= (@the_month_before * 100).round %>%
      </td>
    <% end %>
    </tr>
  </tbody>
</table>
